version: '3.8'

services:
  fraud-detection-api:
    build:
      context: ../..
      dockerfile: deployment/docker/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ../../models:/app/models
    restart: unless-stopped

